[core]
  excludesFile = ~/.gitignore
  pager = less -XF
[user]
  name = Daniel Lubarov
  email = daniel@lubarov.com
[alias]
  st = status
  ci = commit
  b = branch
  br = branch
  co = checkout
[color]
  ui = true
[pull]
	rebase = true
[push]
	default = current
